.loadContainer {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: #363740;
}

.logo {
  stroke-width: 2;
  stroke: #e5e5e5;
}

.logo path {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: animateLogo 2000ms infinite ease-in;
}

@keyframes animateLogo {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 400;
  }
}
